{% extends 'notes_system/base.html' %} 
{% load staticfiles %}
{% block body %}

    <style>
	.panel{
		border: none;
	}

	.panel{
	background: none;
	}

	.content {
	  position: absolute;
	  top: 50%;
	  left:50%;
	  transform: translate(-50%,-50%);
	  }

    </style>

	<div class = "content" >

		<font size="20" color="#FFFFFF" face="AdineKirnberg"> Hello! </font>
		<font size="6" color="#FFFFFF" face="Sawasdee"> What are you looking for?</font></br>

		<a href='http://127.0.0.1:8000/notes/'> <font size="3" face="Sawasdee" color="#FFFFFF"> > Knowledge </font>  </a> 
		<a href='http://127.0.0.1:8000/food/'> <font size="3" face="Sawasdee" color="#FFFFFF"> > Food </font>  </a>

	</div>

{% endblock %}
