html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    padding-top: 65px;
    padding-bottom: 100px;
    /*Don't display until fully loaded */
    background-color: gray;
    visibility: hidden;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: lightgray !important;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    font-size: 15px;
    font-weight: 100;
    font-family: "Calibri";
}

a:hover {
    color: white
}

/*------------------------------- Font ------------------------------*/

.font-huge {
    font-size: 42px !important;
}

.font-xl {
    font-size: 30px !important;
}

.font-large {
    font-size: 15px !important;
}

.font-mid {
    font-size: 12px !important;
}

.font-small {
    font-size: 10px !important;
}

.font-thin {
    font-weight: 100;
}

.font-con {
    font-family: "Consolas";
}

.font-as {
    font-family: "Asana Math";
}

.font-cali {
    font-family: "Calibri";
}

/*------------------------------- Color ------------------------------*/
.color-main {
    color: rgba(255, 255, 255, 0.9);
}

.color-main-light {
    color: rgba(200, 200, 200, 0.9);
}

/*------------------------------- TOC -------------------------------*/
.toc {
    font-size: 12px;
}

.node-name--H1 {
    font-variant: small-caps;
    font-size: 15px !important;
}

.toc-list-item {
    margin: 5px;
}

.is-active-link {
    position: relative;
    color: #69d653 !important;
    padding-left: 5px !important;
}

.tocbar {
    top: 50px !important;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0);
    overflow: auto !important;
    margin-bottom: 0px !important;
}

@media (min-width: 768px) {
    .js-toc-content {
        margin-left: 232px;
    }
}

@media (min-width: 768px) {
    .navbar.fixed-left {
        bottom: 0;
        width: 232px;
        flex-flow: column nowrap;
        align-items: flex-start;
    }
}

/*------------------------------- Theme buttons -------------------------------*/

.nav-pills.nav-dark>li.active>a,
.nav-dark>li.active>a:focus {
    height: 20px;
    color: white;
    background-color: black;
}

.nav-pills.nav-light>li.active>a,
.nav-dark>li.active>a:focus {
    height: 20px;
    color: white;
    background-color: gray;
}

/*------------------------------- Top navbar -------------------------------*/
.navbar {
    position: fixed;
    overflow: hidden;
    width: 100%;
    margin-bottom: 50px;
}

/* color of the nav bar */
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.2) !important;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 100px;
    color: white;
}

/* color of the nav-brand, when not selected*/
.navbar-nav>.active>a {
    color: #fff !important;
    background-color: rgba(160, 160, 160, 0.2) !important;
    background-image: none !important;
}

/* color of the nav-brand, when selected*/
.navbar-nav li a:hover {
    color: #fff !important;
    background-color: rgba(160, 160, 160, 0.4) !important;
    background-image: none !important;
}

/* font style - navbar*/
.navbar-font {
    font-family: "Calibri";
    color: #F5F5F5;
}



/*------------------------------- index view -------------------------------*/
.panel.panel-primary {
    background-color: rgba(255, 250, 250, 0.1);
    border: 0;
}

.panel.panel-default {
    border: 0;
    background-color: rgba(255, 255, 255, 0.3);
}


/*------------------------------- notes / detail view -------------------------------*/

.notes-table {
    width: calc(100% - 30px) !important;
    table-layout: fixed;
}

.notes-content {
    border-top: solid 1px white;
}

.notes-comment {
    border-top: solid 1px white;
    padding-left: 15px !important;
    padding-top: 15px !important;
}

/*------------------------------- notes form -------------------------------*/

.notes-form-label {
    padding-top: 0px !important;
}


/*------------------------------- sub cat buttons -------------------------------*/

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus {
    color: white;
    background-color: rgba(160, 160, 160, 0.3);
}

.nav-pills>li.active>a:hover {
    background-color: rgba(160, 160, 160, 0.5);
    color: white;
}