{% extends 'food/base.html' %}
{% block title %}Search by Ingredients{% endblock %}

{% block body %}
	<div class="col-sm-offset-1 col-sm-10">
		</br>
		<div class="panel panel-default">
		    <div class="panel-body">
		        <table class="table">

				   <colgroup>
					   <col span="1" style="width: 50%;">
					   <col span="1" style="width: 50%;">
					</colgroup>

					<thead>
						<font size="10" color="#2E4053" face="Asana Math"> Ingredients</font>
					</thead>
						
					<tbody>
						<td>
							{% for ing, ing_en, c in all_cook_ing_meat %}
								</br>
								<span class="glyphicon glyphicon-book" style="color:#FA8072"></span> {{c}}
								<a href='http://127.0.0.1:8000/food/recipe/cook_ing/{{ing_en}}'><font size="3" color="#2E4053"> {{ ing }} </font> </a>
								
							{% endfor %}
						</td>

						<td>
							{% for ing, ing_en, c in all_cook_ing %}
								</br>
								<span class="glyphicon glyphicon-book" style="color:#FA8072"></span> {{c}}
								<a href='http://127.0.0.1:8000/food/recipe/cook_ing/{{ing_en}}'><font size="3" color="#2E4053"> {{ ing }} </font> </a>
							{% endfor %}
						</td>

					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
