{% extends 'food/base.html' %}
{% block title %}Search by Ingredients{% endblock %}

{% block body %}

    <style>
        .panel {
            border: 0;
        }

        .panel.panel-primary{
            background-color: rgba(255, 255, 255, 0.90);
            border-color: rgba(195, 198, 204);
        }
    </style>

	<div class="col-sm-offset-1 col-sm-10">

        </br>
        </br>
        </br>
		<div class="panel panel-primary">
		    <div class="panel-body">
		        <table class="table">

				   <colgroup>
					   <col span="1" style="width: 50%;">
					   <col span="1" style="width: 50%;">
					</colgroup>

					<thead>
						<font size="10" color="#2E4053" face="Asana Math"> Ingredients</font>
					</thead>

					<tbody>
						<td>
							{% for ing, ing_en, c in all_cook_ing_meat %}
								</br>
								{% if c|length == 2 %}
                                    <span class="glyphicon glyphicon-book" style="color:#FA8072"></span>  {{ c }}
                                {% else %}
                                    <span class="glyphicon glyphicon-book" style="color:#FA8072"></span>  {{ c }} &nbsp;
                                {% endif %}
								<a href='{{CUR_URL}}food/recipe/cook_ing/{{ing_en}}'><font size="3" color="#2E4053"> {{ ing }} </font> </a>
							{% endfor %}
						</td>

						<td>
							{% for ing, ing_en, c in all_cook_ing %}
							    </br>
								{% if c|length == 2 %}
                                    <span class="glyphicon glyphicon-book" style="color:#FA8072"></span>  {{ c }}
                                {% else %}
                                    <span class="glyphicon glyphicon-book" style="color:#FA8072"></span>  {{ c }} &nbsp;
                                {% endif %}
								<a href='{{CUR_URL}}food/recipe/cook_ing/{{ing_en}}'><font size="3" color="#2E4053"> {{ ing }} </font> </a>
							{% endfor %}
						</td>

					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
