{% extends 'food/base.html' %}
{% block title %}Modify Recipes{% endblock %}

{% block body %}
	<div class="container-fluid">

	    <div class = "row">
	        <div class="col-sm-12 col-md-7">
	            <div class="panel panel-default">
	                <div class="panel-body">
						<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
						    {% csrf_token %}
							{% for field in form %}
						    <div class="form-group">
								<div class="col-sm-offset-2 col-sum-10">
								    <span class="text-danger small">{{field.errors}}</span>
								</div>

								{%if field.label == "Cook name"%}
									<label class="control-label col-sm-2">菜名</label>
									<div class="col-sm-10">
									   <input class="form-control" type="text" name="cook_name" style="width:40%" value="{{ field.value }}">
									</div>

								{%elif field.label == "Tag"%}
									<label class="control-label col-sm-2">Tag</label>
									<div class="col-sm-10">
										<input class="form-control" type="text" name="tag" style="width:40%" value="{{ field.value }}">
									</div>

								{%elif field.label == "Cook ing"%}
									<label class="control-label col-sm-2">食材</label>
									<div class="col-sm-10">
										<input class="form-control" type="text" name="cook_ing" style="width:100%" value="{{ field.value }}">
									</div>

								{%elif field.label == "Comment"%}
									<label class="control-label col-sm-2">Comment</label>
								    <div class="col-sm-10">
										<textarea class="form-control" rows="3" name="comment">{{field.value}}</textarea>
								    </div>

								{%elif field.label == "Cook cat"%}
									<label class="control-label col-sm-2">菜式</label>
									<div class="col-sm-10">
									   <input class="form-control" type="text" name="cook_cat" style="width:40%" value="{{ field.value }}">
									</div>

								{%elif field.label == "Info text"%}
								    <label class="control-label col-sm-2">步骤</label>
								    <div class="col-sm-10">
										<textarea class="form-control" rows="10" name="info_text">{{field.value}}</textarea>
								    </div>
								{%elif field.label == "Pic file"%}
								    <label class="control-label col-sm-2">Image</label>
								    <div class="col-sm-10">
										{{field}}
								    </div>
								{%else%}
								    <label class="control-label col-sm-2">Put</label>
								    <div class="col-sm-10">
										<textarea class="form-control" rows="1" name="hhh"></textarea>
								    </div>
								{%endif%}
					    	</div>
						{% endfor%}
	                    <div class="form-group">
	                        <div class="col-sm-offset-2 col-sm-10">
				            	<input type="submit" class="btn btn-default" href="{{CUR_URL}}food/{{ form.pk.label }}" />
	                        </div>
                        </div>
					</form>
	            </div>
	        </div>
	    </div>

	</div>
{% endblock %}
