{% extends 'food/base.html' %}
{% load staticfiles %}
{% block body %}
    <style>
        .panel {
            border: 0;
        }

        .panel.panel-primary{
            background-color: rgba(255, 255, 255, 0.90);
            border-color: rgba(195, 198, 204);
        }

        body, html {height: 100%}

        .bgimg {
        background: url({% static 'food/images/food1.jpg' %});
        min-height: calc(100%);
        width:100%;
        background-position: center;
        background-size: cover;
    }

        .middle{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);
    }


    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width:80%;
    }

.glyphicon {
    font-size: 20px;
}

    </style>

<div class=" col-sm-10 bgimg">
  <div class="middle">

         <div align="center">
				<font size="10" color="#52575D" face="Asana Math"> Hello! </font>
				<font size="4" color="#000000" face="Asana Math"> What's for</font>
				<font size="5" color="#FA5B75" face="Purisa"> DINNER</font>
				<font size="4" color="#000000" face="Asana Math"> , </font>
				<font size="6" color="#FA5B75" face="Purisa"> LUNCH</font>
				<font size="4" color="#000000" face="Asana Math"> &</font>
				<font size="10" color="#FA5B75" face="Purisa"> BREAKFAST</font>
				<font size="6" color="#000000" face="Asana Math"> ? </font> </br>

				<div align="left" style="padding-left: 50px">
    				<span class="glyphicon glyphicon-play" style="color:#FA8072"></span>
    				<a href='{{CUR_URL}}food/recipe/'> <font size="4" face="Asana Math" color="#2E4053"> Recipes </font>  </a> </br>
    				<span class="glyphicon glyphicon-play" style="color:#FA8072"></span>
    				<a href='{{CUR_URL}}food/sweet/me/'> <font size="4" face="Asana Math" color="#2E4053"> Desserts </font>  </a> </br>
    				<span class="glyphicon glyphicon-play" style="color:#FA8072"></span>
    				<a href='{{CUR_URL}}food/whattocook/'> <font size="4" face="Asana Math" color="#2E4053"> What to COOK today?</font>  </a> </br>
				</div>
        </div>

  </div>
</div>

{% endblock %}
