{% extends 'food/base.html' %}
{% block title %}Recipes{% endblock %}

{% block body %}
    <style>
        .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
            color: white;
            background-color: #FF847C;
        }

        .nav-pills > li.active > a:hover {
            background-color: #FD6378;
            color:white;
        }

        .panel {
            border: 0;
        }

        .panel.panel-primary{
            background-color: rgba(255, 255, 255, 0.90);
            border-color: rgba(195, 198, 204);
            width: 100% !important;
        }

    .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    }
    </style>


    <div class="col-sm-offset-1 col-sm-10">

        </br>
        </br>
        </br>

	       <ul class="nav nav-pills">
	           {% for cat, cat_en in all_cook_cat %}
	               <li role="presentation" class="active" style="margin-bottom: 10px;margin-right: 5px;" ><a href='{{CUR_URL}}food/recipe/cook_cat/{{cat_en}}'>{{cat}}</a></li>
	           {% endfor %}
	       </ul>

			<div class="panel panel-primary">
			    <div class="panel-body" >
			        <table class="table">



			            <tbody>
			                {% for food in all_data %}
							    <thead>
							            <th bgcolor="#F2F2F2"><a href='{{CUR_URL}}food/{{food.pk}}'> <font color="#6a6b6d"><b>{{ food.cook_name }}</b></font>	</a></th>
							    </thead>

						        <tr>
							   		<td>

							            <div style="white-space:pre"><font color="black">{{ food.info_text|linebreaks }}</font></div>
										{% if food.comment %}
							            	</br><div style="white-space:pre"><font color="black">Comment: {{ food.comment }}</font></div>
							            {% endif %}
							            {% if food.pic_file %}
							                <img src="{{ food.pic_file.url }}" class="img-responsive">
							            {% endif %}
										</br></br>
					            	</td>
						        </tr>
			                {% endfor %}
			            </tbody>
			        </table>
			    </div>
			</div>



    </div>
{% endblock %}
