{% extends 'food/base.html' %}
{% block title %}{{search_value}}{% endblock %}

{% block body %}

  <head>


    <style>

        .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
            color: white;
            background-color: #FF847C;
        }

        .nav-pills > li.active > a:hover {
            background-color: #FD6378;
            color:white;
        }

        .panel {
            border: 0;
        }

        .panel.panel-primary{
            background-color: rgba(255, 255, 255, 0.90);
            border-color: rgba(195, 198, 204);
        }

hhh { writing-mode: tb-rl; }


    </style>
  </head>

    <div class="col-sm-offset-1 col-sm-12">

        </br>
        </br>
        </br>

		<div class="col-sm-7">
			<div class="panel panel-primary">
			    <div class="panel-body">
			        <table class="table">

			            <tbody>
			                {% for food in all_data %}
							    <thead>
							        <tr>
										<td bgcolor="F2F2F2">
											<a href='{{CUR_URL}}food/{{food.pk}}'>
												<font color="#6a6b6d"><b>{{ food.cook_name }}</b></font>
											</a>
										</td>
									</tr>
							    </thead>
						        <tr>
							   		<td>
							            <div style="white-space:pre"><font color="black">{{ food.info_text|linebreaks }}</font></div>

										{% if food.comment %}
							            	</br><div style="white-space:pre"><font color="black">Comment: {{ food.comment }}</font></div>
							            {% endif %}

							            {% if food.pic_file %}
							                <img src="{{ food.pic_file.url }}" class="img-responsive">
							            {% endif %}
										</br></br>
					            	</td>
						        </tr>
			                {% endfor %}
			            </tbody>
			        </table>
			    </div>
			</div>
		</div>

		<div class="col-sm-0.5">

			<font size = "90" color="#6a6b6d" face="FANGSONG"><hhh>{{search_value}}</hhh></font>
		</div>

    </div>

{% endblock %}
