{% extends 'food/base.html' %}
{% block title %}What to Cook{% endblock %}

{% block body %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>



    <style>

        .panel {
            border: 0;
        }

        .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
            color: white;
            background-color: #FF847C;
        }

        .nav-pills > li.active > a:hover {
            background-color: #FD6378;
            color:white;
        }


        .panel.panel-primary{
            background-color: rgba(255, 255, 255, 0.90);
            border-color: rgba(195, 198, 204);
        }
    </style>

	<div class="col-sm-offset-1 col-sm-10">
        </br>
        </br>
        </br>
		<div class="panel panel-primary">
		    <div class="panel-body">
		        <table class="table">

				    <colgroup>
					    <col span="1" style="width:35%;">
					    <col span="1" style="width: 20%;">
						<col span="1" style="width: 40%;">
					</colgroup>

					<thead>
						<font size="10" color="#2E4053" face="Asana Math"> Aha!</font>
					</thead>

					<tbody>

						<td>
							<font size="5" color="#FA8072" face="Asana Math"> Current Storage </font>
							{{storagetable|safe}}
						</td>

						<td>
							<font size="5" color="#FA8072" face="Asana Math"> On List </font>   </br>
							{% for food, source, ing in df2 %}
								{{food}} - {{source}} </br>
								{% for ing_sm, s in ing%}
									{{ing_sm}}
									{% if s == "Y" %}
										<span class="glyphicon glyphicon-ok-sign" style="color:#FA8072"></span>
									{% endif %}
									</br>
								{% endfor %}
								</br>
							{% endfor %}

							<font size="5" color="#FA8072" face="Asana Math"> To Get </font>   </br>
							{% for food in df3 %}
								{{food}} </br>
							{% endfor %}
						</td>

						<td>
							<font size="5" color="#FA8072" face="Asana Math"> Recommendations </font>
							<font size="2" color="#FA8072" face="Asana Math"> Based on Storage </font>   </br>

							{% for name, ing, pk in complete %}
								<a href='{{CUR_URL}}food/{{pk}}'><font color="#000000">{{ name }} </a> </br>
								{% for ing_sm, s in ing%}
									{{ing_sm}}
									{% if s == "Y" %}
										<span class="glyphicon glyphicon-ok-sign" style="color:#FA8072"></span> </br>
									{% endif %}
								{% endfor %} </br>
							{% endfor %}

							{% for name, ing, pk in oneless %}
								<a href='{{CUR_URL}}food/{{pk}}'><font color="#000000">{{ name }} </a> </br>
								{% for ing_sm, s in ing%}
									{{ing_sm}}
									{% if s == "Y" %}
										<span class="glyphicon glyphicon-ok-sign" style="color:#FA8072"></span>
									{% else%}
										<span class="glyphicon glyphicon-remove-sign" style="color:#A3DE83"></span>
									{% endif %}
									</br>
								{% endfor %}
								</br>
							{% endfor %}
						</td>

					</tbody>


				</table>
			</div>
		</div>
	</div>

{% endblock %}
