{% extends 'notes/base.html' %}
{% block title %}Modify Notes{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="col-sm-offset-1 col-sm-10">
		</br>
		<div class="panel panel-primary">
			<div class="panel-body">

				<div style="margin-bottom:20px">
					<font class="font-xl font-cali font-thin color-main">Modify Notes</font>
				</div>

				<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">

					{% csrf_token %}

					{% for field in form %}
					<div class="form-group">
						<div class="col-sm-offset-2 col-sum-10">
							<span class="text-danger small">{{field.errors}}</span>
						</div>
						{%if field.label == "Note type"%}
						<label class="control-label col-sm-2">
							<font class="font-large color-main font-cali font-thin">Note Type</font>
						</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" name="note_type" style="width:40%"
								value="{{ field.value }}">
						</div>
						{%elif field.label == "Info title"%}
						<label class="control-label col-sm-2">
							<font class="font-large color-main font-cali font-thin">Title</font>
						</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" name="info_title" style="width:100%"
								value="{{ field.value }}">
						</div>
						{%elif field.label == "Sub category"%}
						<label class="control-label col-sm-2">
							<font class="font-large color-main font-cali font-thin">Tab</font>
						</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" name="sub_category" style="width:40%"
								value="{{ field.value }}">
						</div>
						{%elif field.label == "Info group"%}
						<label class="control-label col-sm-2">
							<font class="font-large color-main font-cali font-thin">Group</font>
						</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" name="info_group" style="width:100%"
								value="{{ field.value }}">
						</div>
						{%elif field.label == "Info text"%}
						<label class="control-label col-sm-2">
							<font class="font-large color-main font-cali font-thin">Content</font>
						</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="10" name="info_text">{{field.value}}</textarea>
						</div>
						{%elif field.label == "Pic file"%}
						<label class="control-label col-sm-2">
							<font class="font-large color-main font-cali font-thin">Image</font>
						</label>
						<div class="col-sm-10 createnotes-font1">
							{{field}}
						</div>
						{%elif field.label == "Comment"%}
						<label class="control-label col-sm-2">
							<font class="font-large color-main font-cali font-thin">Comment</font>
						</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="3" name="comment">{{field.value}}</textarea>
						</div>
						{%elif field.label == "Lang"%}
						<label class="control-label col-sm-2">
							<font class="font-large color-main font-cali font-thin">Language</font>
						</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" name="lang" style="width:100%" value={{notes.lang}}>
						</div>
						{%else%}
						<label class="control-label col-sm-2">
							<font class="font-large color-main font-cali font-thin">Put</font>
						</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1" name="hhh"></textarea>
						</div>
						{%endif%}
					</div>
					{% endfor%}

					<!-- Submit Button -->
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10" style="padding-left:15px">
							<input type="submit" class="btn btn-default createnotesbutton"
								href="{{CUR_URL}}notes/{{ form.pk.label }}" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}