{% extends 'notes_system/base.html' %}
{% load staticfiles %}
{% block body %}

    <style>
	.panel{
		border: none;
	}

	.panel{
	background: none;
	}

	.content {

    margin: 20px;
	  color: gray;
	  }

    </style>

	<div class = "content" >

	    <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding-bottom:5px; padding-left:10px; border:0;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding-left:10px;border:0;overflow:hidden;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>

About me: </br>
Peiying has a wide range of interests: Statistics, Finance, Computer Science, Cooking and Baking.</br>
This web was built when she has tons of notes in Excel and nothing to kill time before she headed to </br>her master degree at UW.</br></br>

Contact me: </br>
If you have any question or suggestion about this web, simply email her at peiying.li5@gmail.com</br></br>

Previous experience:
<table class="tg" style="margin-left: 20px">
  <tr>
    <td class="tg-0lax">2018 Sep - Present</td>
    <td class="tg-0lax">Front Office Developer at BMO</td>
  </tr>
  <tr>
    <td class="tg-0lax">2018 Apr - 2018 Aug</td>
    <td class="tg-0lax">Sales and Trading Intern at Scotiabank</td>
  </tr>
  <tr>
    <td class="tg-0lax">2016 Sep - 2016 Dec</td>
    <td class="tg-0lax">Data Scientist, Pricing Analytics at Scotiabank</td>
  </tr>
  <tr>
    <td class="tg-0lax">2016 May - 2016 Aug</td>
    <td class="tg-0lax">Data Analyst at University of Toronto</td>
  </tr>
  <tr>
    <td class="tg-0lax">2016 Jan - 2016 Apr</td>
    <td class="tg-0lax">Data Scientist, Pricing Analytics at Scotiabank</td>
  </tr>
  <tr>
    <td class="tg-0lax">2015 Jan - 2015 Apr</td>
    <td class="tg-0lax">Data Analyst at University of Toronto</td>
  </tr>
</table>

</br>Historical Moments of This Web:</br>
<table class="tg" style="margin-left: 20px">
  <tr>
    <td class="tg-0lax">May 2017</td>
    <td class="tg-0lax">Learned Django on Youtube</td>
  </tr>
  <tr>
    <td class="tg-0lax">Sep 2017</td>
    <td class="tg-0lax">Finished the first complete local version</td>
  </tr>
  <tr>
    <td class="tg-0lax">May 2018</td>
    <td class="tg-0lax">Hosted online</td>
  </tr>
  <tr>
    <td class="tg-0lax">May 15 2018</td>
    <td class="tg-0lax">Got my first bill from PythonAnyWhere</td>
  </tr>
</table>



</br>Credits</br>
Special thanks to thenewboston for his great Django tutorials on Youtube: https://www.youtube.com/user/thenewboston</br>
Special thanks to Huiyi for testing this web and appraising my great work</br>
Many thanks to the following packages:</br>
 - Prism: https://prismjs.com/</br>
 - Tocbot: https://tscanlin.github.io/tocbot/</br>
 - D3: https://d3js.org/</br>
 - Bootstrap: https://getbootstrap.com/</br>
	</div>

{% endblock %}
